/*Global styling*/
:root {
    font-family: "rodin-ntlg", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: url('../assets/imgs/cursor-normal-med.png'), auto;
}
    :root:active {
        cursor: url('../assets/imgs/user-cursor-med.png'), auto;
    }

a:hover {
    cursor: url('../assets/imgs/user-cursor-med.png'), auto;
}