/*Styling*/
body {
    background-color: #f5f5f5;
    background-blend-mode: overlay;
    /* Slight Wii-style vignette */

    /* Removes browser default margin */
    margin: 0;
    padding: 0;
    /* Smooth, clean look */
    overflow-x: hidden;
}
    body::before {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        background: repeating-linear-gradient( to bottom, rgba(0, 0, 0, 0.10) 0px, rgba(0, 0, 0, 0.10) 2px, rgba(0, 0, 0, 0.00) 2px, rgba(0, 0, 0, 0.00) 4px );
        mix-blend-mode: multiply;
        opacity: 0.55;
    }

    body::after {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        background: repeating-linear-gradient( to bottom, rgba(255, 255, 255, 0.25) 0px, rgba(255, 255, 255, 0.25) 2px, rgba(255, 255, 255, 0.00) 2px, rgba(255, 255, 255, 0.00) 4px );
        mix-blend-mode: screen;
        opacity: 0.45;
    }






/*Game cards*/
.menu-viewport {
    padding-top: 3rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}
.menu-grid {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding-left: 13vw;
    padding-right: 12vw;
    gap: 6vw;
    padding-bottom: 1rem;
}
.menu-page {
    display: grid;
    grid-template-rows: repeat(3, 10rem);
    grid-auto-flow: column;
    grid-auto-columns: 18rem;
    gap: 1rem;
    width: max-content;
    align-content: start; 
}
.grid {
    grid-template-columns: repeat(4, 18rem);
    grid-template-rows: repeat(3, 10rem);
}
@media (max-width: 1200px) {
    .menu-page {
        grid-template-columns: repeat(3, 18rem);
        grid-template-rows: repeat(3, 10rem); 
    }
}
@media (max-width: 768px) {
    .menu-page {
        grid-template-columns: repeat(2, 18rem);
        grid-template-rows: repeat(3, 10rem);
    }
}


